.vyr svg g{
    transform-origin: center;
}
.vyr svg g:nth-child(1) {
    animation: spinCW 20s infinite linear;
}
.vyr svg g:nth-child(2) {
    animation: spinCW 17s infinite linear;
}
.vyr svg g:nth-child(3) {
    animation: spinCW 14s infinite linear;
}
.vyr svg g:nth-child(4) {
    animation: spinCW 11s infinite linear;
}
.vyr svg g:nth-child(5) {
    animation: spinCW 8s infinite linear;
}
/* clockwise spin animation */
@keyframes spinCW {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/* React transition group */
.content-enter {
    /* transition: all 2s;
    background-color: red;
    grid-template-rows: 50% 15% 25%; */
    /* grid-template-rows: 20% 55% 25%; */
}

.content-enter {
    transition: 1s;
    opacity: 0;
    transform: scale(0)
}
.content-enter-done {
    transition: 1s;
}
.content-enter .vyr {
    /* background-color: #fff; */
     /* transition: all 2s;
    transform: translateY(-100vh);  */
}
.content-enter .logo {
    /* grid-row: 1/3; */
    /* background-color: #fff; */
     /* transition: all 2s; */
    /* transform: translateY(-100%);  */
}
.content-enter .logo {
    /* grid-row: 1/3; */
    /* background-color: #fff; */
     /* transition: all 2s;
    transform: translateY(-650%);  */
}
.content-enter-done .logo {
    /* background-color: #fff; */
    /* transition: all 2s; */
    /* transform: none; */
    /* transform: translateY(-40%); */
    /* grid-template-rows: 20% 55% 25%; */
    align-self: center;
    max-width: 200px;
}
.content-enter-done{
     /* background-color: red; */
    grid-template-rows: 20% 55% 25%;  
    
}