@font-face {
    font-family: 'KyivRegion';
    src: url('../../fonts/KyivRegion-Regular.ttf');
}
@font-face {
    font-family: 'Source Code Pro';
    src: url('../../fonts/SourceCodePro-Medium.ttf');
}
*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

pre{
    font-family: 'Source Code Pro';
    font-size: 13px;
    width: 80vw;
    /* word-wrap: break-word; */
    /* display: flex; */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;    

}
::-webkit-scrollbar{
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
body{
    font-family: 'KyivRegion';
    color: #404040;
    background-color: #ffffff;
}
a:active,
a:hover,
a:visited,
a{
    color: #404040;
    text-decoration: none;
}
ul li{
    padding-bottom: 10px;
    margin-left: 30px;
}
ul li:first-child{
    padding-top: 10px;
}
svg {    pointer-events: none;}
path{    pointer-events: auto;}
.temp-center-box,
.temp-l-navigation div,
.button,
#center,
#linkSVG,
#west,
#east,
.keyboard-item,
a{
    cursor: pointer;
}