.navigation { /*navigation bar in header*/
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
}

.icon { /*settings icon*/
    width: 100%;
    padding: 0 10px;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.vyr { /*vyr container*/
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 80vw;
}

.logo { /*logo container*/
    display: flex;
    justify-self: center;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 90vw;
    /* grid-row: 3/4; */
}
.map{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 80vw;
    /* opacity: 0; */
    /* height: 0; */
    /* grid-row: 2/4; */
}

.button { /*button element*/
    display: flex;
    width: 250px;
    height: 70px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #404040;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    /* grid-row: 4/4; */
}