.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.border{
    border-radius: 5px;
    border: #404040 1px solid;
}
.line{
    background-color: #404040;
    justify-self: center;
    width: 80%;
    height: 1px;
}
.temp-center-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-label{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.switch-modal{
    align-self: center;
    justify-self: flex-end;
    padding-right: 10px;
}

.vyr { /*vyr container*/
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 80vw;
}

.logo { /*logo container*/
    display: flex;
    justify-self: center;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    width: 90vw;
}
.map{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 80vw;
}
.button { /*button element*/
    display: flex;
    width: 250px;
    height: 70px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.temp-timer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.field{
    display: grid;
    grid-template-columns: repeat(5, 35px);
    grid-template-rows: repeat(6, 35px);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
}
.field-item{
    display: flex;
    width: 100%;
    height: 100%;
    border: #404040 solid 2px;
    border-radius: 5px;
    font-size: 27px;
    align-items: center;
    justify-content: center;
}
.keyboard{
    padding: 10px;
    height: 100%;
    max-height: 200px;
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 40px));
    grid-template-rows: repeat(3, 33%);
    column-gap: 4px;
    row-gap: 3px;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.keyboard-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: #404040 solid 2px;
    border-radius: 5px;
    padding: 1px;
}
.keyboard div:last-child{
    grid-row: 3/3;
    grid-column: 11/13;
}
#backspaceSVG{
    max-width: 20px;
}