.navigation { /*navigation bar in header*/
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.settings-modal{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 250px;
    height: 150px;
    border: 1px #404040 solid;
    border-radius: 10px;
}
.header-modal{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.cross-modal{
    justify-self: flex-end;
    align-self: flex-start;
    padding: 10px;
}
.label-modal{
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}
.content-modal{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.text-modal{
    align-self: center;
    padding-left: 10px;
}
.switch-modal{
    align-self: center;
    justify-self: flex-end;
    padding-right: 10px;
}

.icon { /*settings icon*/
    width: 100%;
    padding: 0 10px;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.vyr { /*vyr container*/
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 80vw;
}

.logo { /*logo container*/
    display: flex;
    justify-self: center;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 90vw;
    /* grid-row: 3/4; */
}
.map{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 80vw;
    /* opacity: 0; */
    /* height: 0; */
    /* grid-row: 2/4; */
}
.button { /*button element*/
    display: flex;
    width: 250px;
    height: 70px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #404040;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    /* grid-row: 4/4; */
}
.back-arrow{
    display: flex;
    justify-self: flex-start;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.setting-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.setting-icon{
    padding-right: 10px;
}
.game-area{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3fr 2fr;
    align-items: center;
    justify-content: center;
}
.timer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.field{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(6, 40px);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
}
.field-item{
    display: flex;
    width: 100%;
    height: 100%;
    border: #404040 solid 2px;
    border-radius: 5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.keyboard{
    display: grid;
    grid-template-columns: repeat(12, 22px);
    grid-template-rows: repeat(3, 50px);
    column-gap: 4px;
    row-gap: 3px;
    align-items: center;
    justify-content: center;
}
.keyboard-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: #404040 solid 2px;
    border-radius: 5px;
    padding: 1px;
}
.keyboard div:last-child{
    grid-row: 3/3;
    grid-column: 11/13;
}