.is-inactive{
    border-color: #808080;
    color: #808080;
}
.is-inactiveSVG svg *{
    stroke: #808080;
}
.is-chosen{
    fill: #404040
}
.is-not-chosen{
    fill: #ffffff;
}
.is-game{
    grid-template-columns: 1fr 2fr 1fr;
}
.is-small{
    max-width: 100px;
    align-self: center;
    width: 100%;
}
.is-mini{
    width: 22px;
    height: 22px;
    font-size: 13px;
}
.is-example{
    margin: 0;
    text-align: center;
}
.is-hidden-mark{opacity: 0;}
.is-hidden{display: none;}
.is-wrong{border-color: #808080 ;}
.is-right{border-color: #02FF0C ;}
.is-semiright{border-color: #FFD600;}
.is-fetching{border-color: #808080; color: #808080;}