.dark{
    background-color: #404040;
    color: #ffffff;
}
.dark #vyrSVG path,
.dark #logoSVG path,
.dark #settingsSVG path,
.dark #enterSVG path,
.dark #backspaceSVG path
{
    fill: #ffffff;
}
.dark #arrowSVG path,
.dark #yesSVG path,
.dark #noSVG path,
.dark #linkSVG path,
.dark #crossSVG path,
.dark #infoSVG *,
.dark #timer,
.dark .map path
{
    stroke: #ffffff;
}
.dark #mark-center,
.dark #mark-east,
.dark #mark-west
{
    stroke: #02FF0C;
}
.dark #cross-center,
.dark #cross-east,
.dark #cross-west
{
    stroke: #FF0000;
}
.dark .border
{
    border-color: #ffffff;
}
.dark a {
    color: #ffffff;
}
.dark .line {
    background-color: #ffffff;
}
.dark .modal{
    background-color: rgba(64, 64, 64 , 0.9);
}
.dark .switch-modal * {
    stroke: #ffffff;
}
.dark .field-item,
.dark .keyboard-item
{
    border-color: #ffffff;
}
.dark .is-inactiveSVG{stroke: #808080;}
.dark .is-chosen{fill: #ffffff;}
.dark .is-not-chosen{fill: #404040;}
.dark .is-wrong{border-color: #808080 ;}
.dark .is-right{border-color: #02FF0C ;}
.dark .is-semiright{border-color: #FFD600;}
.color-blindness .is-right{border-color: #0057b8 ;}
.color-blindness .is-semiright{border-color:  #ffd700;} 